MYSQL_ROOT_PASSWORD=change_me_strong_password
MYSQL_DATABASE=aquiplants_db
MYSQL_USER=aquiplants
MYSQL_PASSWORD=change_me_strong_password
MYSQL_MIGRATIONS_USER=aquiplants_migrations
MYSQL_MIGRATIONS_PASSWORD=change_me_strong_migrations_password
# Générer avec : php -r "echo bin2hex(random_bytes(32));"
APP_SECRET=change_me_with_output_of_bin2hex_random_bytes_32
JWT_PASSPHRASE=change_me_strong_passphrase
