MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=aquiplants_db
MYSQL_USER=aquiplants
MYSQL_PASSWORD=aquiplants
MYSQL_MIGRATIONS_USER=aquiplants_migrations
MYSQL_MIGRATIONS_PASSWORD=mig_4quipl4nts_dev
APP_SECRET=8f0d54b95f1ef04084cf7979778c2bf69e59a145cdd42d9244aa929ba0742f30
JWT_PASSPHRASE=aquiplants
