# Copier en .env.prod sur le serveur (jamais commité) et remplir les vraies valeurs.
# Utilisé par : docker compose -f docker-compose.prod.yml --env-file .env.prod up -d

MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=graine_fournie
MYSQL_USER=gf_user
MYSQL_PASSWORD=change-me
