MYSQL_ROOT_PASSWORD=change_me_strong_password
MYSQL_DATABASE=aquiplants_db
MYSQL_USER=aquiplants
MYSQL_PASSWORD=change_me_strong_password
APP_SECRET=change_me_with_a_32_char_random_hex_string
JWT_PASSPHRASE=change_me_strong_passphrase
