-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: aquiplants_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client` (
  `id_client` int NOT NULL AUTO_INCREMENT,
  `nom_client` varchar(150) NOT NULL,
  `prenom_client` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id_client`)
) ENGINE=InnoDB AUTO_INCREMENT=1001 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commande_a_semer`
--

DROP TABLE IF EXISTS `commande_a_semer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commande_a_semer` (
  `id_commande` int NOT NULL AUTO_INCREMENT,
  `quantite_a_semer` int NOT NULL,
  `date_semis` date NOT NULL,
  `date_livraison` date NOT NULL,
  `id_uv` int NOT NULL,
  `id_client` int NOT NULL,
  PRIMARY KEY (`id_commande`),
  KEY `IDX_EFCA1A026A8AB242` (`id_uv`),
  KEY `IDX_EFCA1A02E173B1B8` (`id_client`),
  CONSTRAINT `FK_EFCA1A026A8AB242` FOREIGN KEY (`id_uv`) REFERENCES `uv` (`id_uv`) ON DELETE RESTRICT,
  CONSTRAINT `FK_EFCA1A02E173B1B8` FOREIGN KEY (`id_client`) REFERENCES `client` (`id_client`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commande_a_semer`
--

LOCK TABLES `commande_a_semer` WRITE;
/*!40000 ALTER TABLE `commande_a_semer` DISABLE KEYS */;
/*!40000 ALTER TABLE `commande_a_semer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctrine_migration_versions`
--

DROP TABLE IF EXISTS `doctrine_migration_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctrine_migration_versions`
--

LOCK TABLES `doctrine_migration_versions` WRITE;
/*!40000 ALTER TABLE `doctrine_migration_versions` DISABLE KEYS */;
INSERT INTO `doctrine_migration_versions` VALUES ('DoctrineMigrations\\Version20260416133008','2026-05-20 07:30:45',493),('DoctrineMigrations\\Version20260421120000','2026-05-20 07:30:45',29),('DoctrineMigrations\\Version20260428065010','2026-05-20 07:30:45',361),('DoctrineMigrations\\Version20260428072745','2026-05-20 07:30:46',42),('DoctrineMigrations\\Version20260428115009','2026-05-20 07:30:46',157),('DoctrineMigrations\\Version20260430000000','2026-05-20 07:30:46',62),('DoctrineMigrations\\Version20260520095346','2026-05-20 09:53:50',110);
/*!40000 ALTER TABLE `doctrine_migration_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emplacement`
--

DROP TABLE IF EXISTS `emplacement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emplacement` (
  `id_emplacement` int NOT NULL AUTO_INCREMENT,
  `lettre_etagere` enum('A','B','C','D','E','F') NOT NULL,
  `numero_etage` int NOT NULL,
  `id_client` int DEFAULT NULL,
  PRIMARY KEY (`id_emplacement`),
  KEY `IDX_C0CF65F6E173B1B8` (`id_client`),
  CONSTRAINT `FK_C0CF65F6E173B1B8` FOREIGN KEY (`id_client`) REFERENCES `client` (`id_client`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emplacement`
--

LOCK TABLES `emplacement` WRITE;
/*!40000 ALTER TABLE `emplacement` DISABLE KEYS */;
/*!40000 ALTER TABLE `emplacement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `espece`
--

DROP TABLE IF EXISTS `espece`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `espece` (
  `id_espece` int NOT NULL AUTO_INCREMENT,
  `nom_espece` varchar(150) NOT NULL,
  PRIMARY KEY (`id_espece`)
) ENGINE=InnoDB AUTO_INCREMENT=3219 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `espece`
--

LOCK TABLES `espece` WRITE;
/*!40000 ALTER TABLE `espece` DISABLE KEYS */;
/*!40000 ALTER TABLE `espece` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gf_client`
--

DROP TABLE IF EXISTS `gf_client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gf_client` (
  `id_gf_client` int NOT NULL AUTO_INCREMENT,
  `quantite_disponible` int NOT NULL,
  `numero_lot` varchar(50) NOT NULL,
  `seuil_alerte` int NOT NULL,
  `nom_client` varchar(150) NOT NULL,
  `id_client` int NOT NULL,
  `id_plant` int NOT NULL,
  `id_emplacement` int DEFAULT NULL,
  PRIMARY KEY (`id_gf_client`),
  KEY `IDX_6B946D57E173B1B8` (`id_client`),
  KEY `IDX_6B946D5745864C42` (`id_plant`),
  KEY `IDX_6B946D57D8DDA801` (`id_emplacement`),
  CONSTRAINT `FK_6B946D5745864C42` FOREIGN KEY (`id_plant`) REFERENCES `plant` (`id_plant`),
  CONSTRAINT `FK_6B946D57D8DDA801` FOREIGN KEY (`id_emplacement`) REFERENCES `emplacement` (`id_emplacement`),
  CONSTRAINT `FK_6B946D57E173B1B8` FOREIGN KEY (`id_client`) REFERENCES `client` (`id_client`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gf_client`
--

LOCK TABLES `gf_client` WRITE;
/*!40000 ALTER TABLE `gf_client` DISABLE KEYS */;
/*!40000 ALTER TABLE `gf_client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gf_histo_client`
--

DROP TABLE IF EXISTS `gf_histo_client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gf_histo_client` (
  `id_histo` int NOT NULL AUTO_INCREMENT,
  `quantite_semee` int NOT NULL,
  `date_semis` date NOT NULL,
  `nom_uv` varchar(100) NOT NULL,
  `nb_graine_par_motte` int NOT NULL,
  `id_gf_client` int NOT NULL,
  `id_uv` int NOT NULL,
  PRIMARY KEY (`id_histo`),
  KEY `IDX_4B2FFF73EBA1D170` (`id_gf_client`),
  KEY `IDX_4B2FFF736A8AB242` (`id_uv`),
  CONSTRAINT `FK_4B2FFF736A8AB242` FOREIGN KEY (`id_uv`) REFERENCES `uv` (`id_uv`) ON DELETE RESTRICT,
  CONSTRAINT `FK_4B2FFF73EBA1D170` FOREIGN KEY (`id_gf_client`) REFERENCES `gf_client` (`id_gf_client`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gf_histo_client`
--

LOCK TABLES `gf_histo_client` WRITE;
/*!40000 ALTER TABLE `gf_histo_client` DISABLE KEYS */;
/*!40000 ALTER TABLE `gf_histo_client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `histo_gf_deposee`
--

DROP TABLE IF EXISTS `histo_gf_deposee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `histo_gf_deposee` (
  `id_histo_depot` int NOT NULL AUTO_INCREMENT,
  `quantite_deposee` int NOT NULL,
  `date_reception` date NOT NULL,
  `statut` enum('a_traiter','range') NOT NULL DEFAULT 'a_traiter',
  `note` varchar(255) DEFAULT NULL,
  `id_gf_client` int NOT NULL,
  PRIMARY KEY (`id_histo_depot`),
  KEY `IDX_91907AF2EBA1D170` (`id_gf_client`),
  CONSTRAINT `FK_91907AF2EBA1D170` FOREIGN KEY (`id_gf_client`) REFERENCES `gf_client` (`id_gf_client`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `histo_gf_deposee`
--

LOCK TABLES `histo_gf_deposee` WRITE;
/*!40000 ALTER TABLE `histo_gf_deposee` DISABLE KEYS */;
/*!40000 ALTER TABLE `histo_gf_deposee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log`
--

DROP TABLE IF EXISTS `log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log` (
  `id_log` int NOT NULL AUTO_INCREMENT,
  `action` varchar(100) NOT NULL,
  `date_action` datetime NOT NULL,
  `detail` varchar(255) DEFAULT NULL,
  `id_utilisateur` int NOT NULL,
  PRIMARY KEY (`id_log`),
  KEY `IDX_8F3F68C550EAE44` (`id_utilisateur`),
  CONSTRAINT `FK_8F3F68C550EAE44` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_utilisateur`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log`
--

LOCK TABLES `log` WRITE;
/*!40000 ALTER TABLE `log` DISABLE KEYS */;
INSERT INTO `log` VALUES (46,'connexion','2026-05-29 07:35:02','Connexion de testadmin@aquiplants.fr',12),(47,'creation_utilisateur','2026-05-29 07:35:39','Utilisateur #14 cr├®├®',12),(48,'connexion','2026-05-29 07:35:53','Connexion de jeantest@aquiplants.fr',14),(49,'connexion','2026-05-29 08:47:06','Connexion de testadmin@aquiplants.fr',12);
/*!40000 ALTER TABLE `log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plant`
--

DROP TABLE IF EXISTS `plant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plant` (
  `id_plant` int NOT NULL AUTO_INCREMENT,
  `nom_plant` varchar(150) NOT NULL,
  `id_espece` int DEFAULT NULL,
  PRIMARY KEY (`id_plant`),
  KEY `IDX_AB030D722795145C` (`id_espece`),
  CONSTRAINT `FK_AB030D722795145C` FOREIGN KEY (`id_espece`) REFERENCES `espece` (`id_espece`)
) ENGINE=InnoDB AUTO_INCREMENT=3219 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plant`
--

LOCK TABLES `plant` WRITE;
/*!40000 ALTER TABLE `plant` DISABLE KEYS */;
/*!40000 ALTER TABLE `plant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur` (
  `id_utilisateur` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `mdp_crypte` varchar(255) NOT NULL,
  `role` varchar(20) NOT NULL,
  PRIMARY KEY (`id_utilisateur`),
  UNIQUE KEY `UNIQ_1D1C63B3E7927C74` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `uv`
--

DROP TABLE IF EXISTS `uv`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uv` (
  `id_uv` int NOT NULL AUTO_INCREMENT,
  `nom_uv` varchar(100) NOT NULL,
  `nombre_graine_par_motte` int NOT NULL,
  `nombre_plant_par_plateaux` int NOT NULL,
  `id_espece` int NOT NULL,
  PRIMARY KEY (`id_uv`),
  KEY `IDX_AAF74B452795145C` (`id_espece`),
  CONSTRAINT `FK_AAF74B452795145C` FOREIGN KEY (`id_espece`) REFERENCES `espece` (`id_espece`)
) ENGINE=InnoDB AUTO_INCREMENT=1992 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uv`
--

LOCK TABLES `uv` WRITE;
/*!40000 ALTER TABLE `uv` DISABLE KEYS */;
/*!40000 ALTER TABLE `uv` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-29  9:14:20
